# Base URL for Backend REST API
VITE_API_URL=http://localhost:8000/api

# Whether to use local mock data queries and authentication
# Set to 'false' to connect to the actual backend API
VITE_USE_MOCK=true
